.flashy {
  color: red;
  font-style: italic;
}
 .best {
   font-weight: bolder;
   color: pink;
   text-transform: uppercase;
 }
 img {
   width: 20%;
   height: auto;

 }
 body {
   text-align: center;
 }
 ul {
   text-align: left; 
 }
